.card {
    background-color: white;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 20%);
    border-radius: 10px;
    height: 800px;
    padding: 100px;
}
.card__number {
    background-color: rgb(155, 183, 224);
    margin: 20px 0;
    padding: 10px;
    border-radius: 4px;
    height: 40px;
}
.card__result {
    background-color: rgb(155, 183, 224);
    margin: 20px 0;
    padding: 10px;
    border-radius: 4px;
    height: 40px;
}